nav {
    width: 100%;
    margin: auto;
    font-size: 20px;
    padding: 10px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    background-color: black;
}

.menu-horizontal, .menu-vertical {
    list-style: none;
    border-radius: 5%;
}

.menu-horizontal {
    display: flex;
    justify-content: space-around;
}

.menu-horizontal > li{
    display: flex;
    flex-direction: row;
}

.menu-horizontal > li > a, .menu-vertical li a {
    display: block;
    padding: 15px 20px;
    text-decoration: none;
    border-radius: 10%;
}

.menu-horizontal > li > a {
    color: white;
}

.menu-horizontal > li:hover, .menu-vertical li:hover {
    background-color: #CCE64F;
    border-radius: 5%;
}

.menu-vertical {
    position: absolute;
    display: none;
    width: 150px;
    background-color: #CCE64F;
    border: 2px solid black;
}

.menu-horizontal li:hover .menu-vertical {
    display: block;
}

.menu-vertical li:hover {
    background-color: #A2BD22;
}

.menu-vertical li a {
    color: black;
    padding: 15px 20px;
}


.img-fondo {
    position: relative;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    object-position: center;
}

@media (max-width: 768px), (max-width: 468px) {
    .menu-horizontal > li > a {
        color: white;
        font-size: 17px;
    }
    .img-fondo {
        height: auto;
    }
}

@media (max-width: 468px) {
    .menu-horizontal > li > a {
        color: white;
        font-size: 17px;
    }
    .img-fondo {
        object-position: top;
    }
}
