.detail-container {
    margin: 5% 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
  }
  .hr{
    border: 0;

    height: 2px;

    background: #333;

    background-image: linear-gradient(to right, #ccc, #333, #ccc);
  }
  
  .detail-content-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2%;
    flex-direction: row;
  }
  
  .info-detail-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 30px;
  }
  
  .title-detail {    
    margin: 0 0 50px 0;
    font-size: 50px;
    font-weight: bold;
  }
  
  .description-detail {
    margin: 0 0 50px 0;
    font-size: 20px; 
  }
  
  .price-detail {
    margin: 0 0 50px 0; 
    font-size: 70px;
    color: #e1a88f;
  }
  
  .img-detail-container img {
    border-radius: 10%;
    width: 100%;
    height: 80vh;
  }
  
  .btn-detail-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    
  }

.btn-detail{
  border: 2px solid white;
  background-color: #E1A88F;
  font-size: 20px;
  padding: 5px 70px 5px 70px;
  cursor: pointer;
  color: white;
  border-radius: 10px;
  font-weight: bold;
}
  