.content-container{
   display: flex;
   align-items: center;
   flex-direction: column;
   justify-content: center;
   margin-top: 50px;
}

.title-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.title{
    font-size: 50px;
}

.product-container {
 display: flex;
 align-items: center;
 flex-direction: row;
 flex-wrap: wrap;
 max-width: 900px;
 justify-content: space-between;
}

.card-container {
    cursor: pointer;
}

.container-title-shoes{
    display: flex;
    align-items: center;
    justify-content: center;
}

.title-shoes {
    margin: 30px;
}

h3 {
    margin-top: 4px;
}

.btn-content{
    border: 2px solid white;
    background-color: #CCE64F;
    font-size: 20px;
    padding: 10px;
    cursor: pointer;
    color: white;
    border-radius: 10px;
    font-weight: bold;
    margin: 20px;
}

.btn-content:hover{
    background-color: #A2BD22;
    transition: all 0.5 ease;
}