.banner-container {
    display: flex;
    align-items: center;
    overflow: hidden;
    white-space: nowrap;
    width: 100%;
    background-color: #333;
    position: relative;
    padding: 1%;
  }
  
  .banner-content {
    display: flex;
    animation: scroll-text 20s linear infinite;
  }
  
  .info-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-right: 50px;
  }
  
  .iconBanner {
    width: 30px;
    height: 30px;
    margin-right: 10px;
  }
  
  .text-description-container {
    display: inline-block;
  }
  
  .description {
    font-size: 16px;
    color: white;
    white-space: nowrap;
  }
  

  @keyframes scroll-text {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-50%);
    }
  }
  